@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-archivo-black: 'Archivo Black', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: #FEFEFE;
  color: #0A0A0A;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-archivo-black);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
